$d:0.01rem !default;
$colorBorder : rgba(0, 0, 0, 0.15);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "PingFang SC","Open Sans","Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
}

.clearfix:after{
  content:' ';
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}

.hide {
  display: none;
}

.panel {
  width: 100%;
  border-top: 1px solid $colorBorder;
  border-bottom: 1px solid $colorBorder;
  background-color: white;
  margin-bottom: 36 * $d;
}
